body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fff;
    padding-top: 30px;
}


.container{
    display: flex;
    position: relative;
    justify-content: space-between;
}

.wrapper{
    background-color: #D1D1D1;
    position: fixed;
    display: block;
    z-index: 1;
    left: 0;
    /* overflow-x: hidden; */
    width: 120px;
    margin: 0 10px;
    justify-content: space-between;
}
.button2{
    border-radius: 15px ;
    color: #fff;
    background-color: purple;
    width: 85px;
    height: 15px;
    font-size: 6px;
    margin: 0px;
}
.button1{
    height: 20px;
    font-size: 10px;
    border-radius: 5px;
    border-color: purple;
    color: purple;
    width: 50px;
}
.rofrSection{
    color: #506D84;
}

.wrapper a {
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    margin: auto;
  }
.wrapper2{
    background-color: #E8E8E8;
    border-radius: 5px;
    float: left !important;
    width: 150px;
    text-align: center;
    flex: 1;
    position: absolute;
    right: 0px;
    /* display: flex; */
    /* justify-content: space-between; */
    padding: 5px;
    color: purple;
    position: fixed;
    margin: 10px 10px;
}

.title-SidebarR{
    margin: 0px;
}

.sub-title{
    display: flex;
    /* justify-content: space-between; */
}


.wrapper2 div {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-content: space-between;
    margin: 8px;
    }



#topnav{
display: flex;
justify-content: space-evenly;
box-sizing: border-box;
border-bottom: #BBBBBB 1px solid;
padding: 10px;
position:fixed;
width:100%;
z-index: 1000000;
top:0;
background-color: #fff;

}

.topnav a.active {
    /* background-color: #04AA6D; */
    color: purple;
    font-weight: bold;
    word-spacing: .75px;
  }

.btn-group{
    /* size: 10px; */
    font-size: 6px;
    width: 100%;
    height: 20px;
    right: 0;
    justify-content: end;
}
.main{
    /* justify-content: space-between; */
    /* align-items: stretch; */
    /* display: flex !important; */
    /* flex-direction: wrap; */
    margin: 0 75px;
    padding: 10px;
    overflow-y: auto;
    width: 100%;
}


.button3{
color: white;
background-color: purple;
border: #fff;
border-radius: 2px;
}

.button4{
    color: purple;
    background-color: #EFEFEF;
    border: #D1D1D1;
    border-radius: 2px;
}
.button5{
        color: purple;
        background-color: #EFEFEF;
        border: #D1D1D1;
        border-radius: 2px;
}

.textSection{
    margin: 0px; 
    font-size: 15px; 
    display: inline-block;
    vertical-align: middle;
}

.spanSection{
    font-size: 8px; margin: 0px;

}

.main-Body{
    box-shadow: #D1D1D1;
    display: inline-block;
    /* box-sizing: border-box; */
    width: 100%;
    height: fit-content;
    border: 0.5px solid #EFEFEF;
    text-align: justify;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0 5px ;
}

td {
        border:1px dotted black;
        border-radius: 2px;
}
table{
    background-color: #fff;
    border: 0.5px solid #EFEFEF;
    border-radius: 4px;
    box-shadow: #D1D1D1;
    width: 100%;
    margin-right: 15px;

}
.table-Header{
    background-color: #AE4CCF;
    color: #fff;
    font-size: 10px;
    margin: 0px;
    width: 94%;
    height: 20px;
    padding: 5px;
    text-align: center;
}
.table-Body{
    font-size: 10px;
    text-align: center;
}

.grid-Container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
  }

  .grid-Container  > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    display: flex;
    font-size: 25px;
    background-color: #fff;
    color: #AE4CCF;
  }

  .grid-text{
      font-size: 15px;
      color: black;
  }

  .grid-span{
      font-size: 10px;
      display: block;
      color: grey;
padding: 0px;
margin: 0px;
  }

  .main-Grid{
      justify-content: space-between;
      align-items: stretch;
  }



  #footer{
      display: flex;
      justify-content: space-evenly;
      position: fixed;
      background-color: #BBBBBB;
      padding: 10px 10px 0px 10px;
      bottom: 0;
      width: 100%;
  }

  @media only screen and (max-width: 767px) {
    .wrapper,.wrapper2 {
  
      height: auto;
      padding: 15px;
    }
    div.wrapper.col-sm-3{
          position:static;
  
    } 
    div.wrapper2.col-sm-3{
        position: static;
    }
    .grid-Container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* grid-gap: 10px;
        padding: 10px; */
        width: 94%;
      }
     
  .btn-group{
      width:50%;
  }
  .main-Body,table{
      width: 94%;
  }
  }
  
  @media screen and (max-width : 400px) {
      .main{
          overflow-x: hidden;
      }
      
  }